# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

.idea/**

### Kotlin ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle/**
gradle
**/build/
!src/**/build/

.DS_STORE
